.root {
    -fx-background-color: #2b2b3b;
}

.text {
    -fx-font-family: SansSerif;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #007cff;
    -fx-text-fill: white;
}

.jfx-radio-button{
    -jfx-selected-color: #007cff;
    -jfx-unselected-color: #5A5A5A;
    -fx-text-fill: white;
}

.jfx-text-field,
.jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-text-fill: white;
}

.jfx-text-area {
    -fx-text-fill: white;
    -fx-background-color: rgba(90, 90, 90, 0.5)
}

.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar{
    -fx-background-color: #737394;
    -fx-padding: 1.5;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.check-box {
   -fx-text-fill: white;
}